<h1>เพลงพระราชนิพนธ์</h1>
<p>พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ แห่งราชวงศ์จักรีที่ปกครองประเทศชาติให้ผ่านพ้นผองภัย นานาประการมากว่า 200 ปี ในช่วงปีพุทธศักราช 2503 บรรดาประเทศเพื่อนบ้านใกล้เรือนเคียงของเรา มีปัญหาการปกครองภายในเปลี่ยนแปลงเข้าสู่ ลัทธิการเมืองใหม่ที่นำมาซึ่งความขัดแย้งรุนแรง แต่ไทยเรารอดปลอดภัยมาได้เพราะพระองค์เป็นศูนย์รวมจิตใจของคนไทยทุกคน โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม ได้สร้างประโยชน์สุขให้แก่พสกนิกร ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก 
ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา</p>

<p>๑. แสงเทียน (Candlelight Blues)</p></p>
<p>๒. ยามเย็น (Love At Sundown)</p>
<p>๓. สายฝน (Falling Rain)</p>
<p>๔. ใกล้รุ่ง (Near Dawn)</p>
<p>๕. ชะตาชีวิต (H.M. Blues)</p>
<p>๖. ดวงใจกับความรัก (Never Mind the H.M. Blues)</p>
<p>๗. มาร์ชราชวัลลภ (Royal Guards March)</p>
<p>๘. อาทิตย์อับแสง (Blue Day)</p>
<p>๙. เทวาพาคู่ฝัน (Dream Of Love Dream of You)</p>
<p>๑๐. คำหวาน (Sweet Words)</p>
<p>๑๑. มหาจุฬาลงกรณ์</p>
<p>๑๒. แก้วตาขวัญใจ (Lovelight in My Heart)</p>
<p>๑๓. พรปีใหม่</p>
<p>๑๔. รักคืนเรือน (Love Over Again)</p>
<p>๑๕. ยามค่ำ (Twilight)</p>
<p>๑๖. ยิ้มสู้ (Smiles)</p>
<p>๑๗. มาร์ชธงไชยเฉลิมพล</p>
<p>๑๘. เมื่อโสมส่อง (I Never Dream)</p>
<p>๑๙. ลมหนาว (Love in Spring)</p>
<p>๒๐. ศุกร์สัญลักษณ์ (Friday Night Rag)</p>
<p>๒๑. Oh I say</p>
<p>๒๒. Can't You Ever See</p>
<p>๒๓. Lay Kram Goes Dixie</p>
<p>๒๔. ค่ำแล้ว (Lullaby)</p>
<p>๒๕. สายลม (I Think of You)</p>
<p>๒๖. ไกลกังวล (When)</p>
<p>๒๗. แสงเดือน (Magic Beams)</p>
<p>๒๘. ฝัน (Somewhere Somehow)</p>
<p>๒๙. มาร์ชราชนาวิกโยธิน</p>
<p>๓๐. ภิรมย์รัก (A Love Story)</p>
<p>๓๑. แผ่นดินของเรา (Alexandra)</p>
<p>๓๒. พระมหามงคล</p>
<p>๓๓. ยูงทอง</p>
<p>๓๔. ในดวงใจนิรันดร์ (Still on My Mind)</p>
<p>๓๕. เตือนใจ (Old Fashioned Melody)</p>
<p>๓๖. ไร้เดือน (No Moon)</p>
<p>๓๗. เกาะในฝัน (Dream Island)</p>
<p>๓๘. แว่ว (ECHO)</p>
<p>๓๙. เกษตรศาสตร์</p>
<p>๔๐. ความฝันอังสูงสุด</p>
<p>๔๑. เราสู้</p>
<p>๔๒. เรา-เหล่าราบ ๒๑</p>
<p>๔๓. BLUES FOR UTHIT</p>

