<h1>เพลงพระราชนิพนธ์</h1>
<p>พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ แห่งราชวงศ์จักรีที่ปกครองประเทศชาติให้ผ่านพ้นผองภัย นานาประการมากว่า 200 ปี ในช่วงปีพุทธศักราช 2503 บรรดาประเทศเพื่อนบ้านใกล้เรือนเคียงของเรา มีปัญหาการปกครองภายในเปลี่ยนแปลงเข้าสู่ ลัทธิการเมืองใหม่ที่นำมาซึ่งความขัดแย้งรุนแรง แต่ไทยเรารอดปลอดภัยมาได้เพราะพระองค์เป็นศูนย์รวมจิตใจของคนไทยทุกคน โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม ได้สร้างประโยชน์สุขให้แก่พสกนิกร ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก 
ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา</p>
<p>
๑. แสงเทียน (Candlelight Blues)
๒. ยามเย็น (Love At Sundown)
๓. สายฝน (Falling Rain)
๔. ใกล้รุ่ง (Near Dawn)
๕. ชะตาชีวิต (H.M. Blues)
๖. ดวงใจกับความรัก (Never Mind the H.M. Blues)
๗. มาร์ชราชวัลลภ (Royal Guards March)
๘. อาทิตย์อับแสง (Blue Day)
๙. เทวาพาคู่ฝัน (Dream Of Love Dream of You)
๑๐. คำหวาน (Sweet Words)
๑๑. มหาจุฬาลงกรณ์
๑๒. แก้วตาขวัญใจ (Lovelight in My Heart)
๑๓. พรปีใหม่
๑๔. รักคืนเรือน (Love Over Again)
๑๕. ยามค่ำ (Twilight)
๑๖. ยิ้มสู้ (Smiles)
๑๗. มาร์ชธงไชยเฉลิมพล
๑๘. เมื่อโสมส่อง (I Never Dream)
๑๙. ลมหนาว (Love in Spring)
๒๐. ศุกร์สัญลักษณ์ (Friday Night Rag)
๒๑. Oh I say
๒๒. Can't You Ever See
๒๓. Lay Kram Goes Dixie
๒๔. ค่ำแล้ว (Lullaby)
๒๕. สายลม (I Think of You)
๒๖. ไกลกังวล (When)
๒๗. แสงเดือน (Magic Beams)
๒๘. ฝัน (Somewhere Somehow)
๒๙. มาร์ชราชนาวิกโยธิน
๓๐. ภิรมย์รัก (A Love Story)
๓๑. แผ่นดินของเรา (Alexandra)
๓๒. พระมหามงคล
๓๓. ยูงทอง
๓๔. ในดวงใจนิรันดร์ (Still on My Mind)
๓๕. เตือนใจ (Old Fashioned Melody)
๓๖. ไร้เดือน (No Moon)
๓๗. เกาะในฝัน (Dream Island)
๓๘. แว่ว (ECHO)
๓๙. เกษตรศาสตร์
๔๐. ความฝันอังสูงสุด
๔๑. เราสู้
๔๒. เรา-เหล่าราบ ๒๑
๔๓. BLUES FOR UTHIT
๔๔. รัก
๔๕. เมนูไข่
</p>
