<h1>เพลงพระราชนิพนธ์ แสงเทียน</h1>

<p>จุดเทียนบวงสรวงปวงเทพเจ้า</p>
<p>สวดมนต์ค่ำเช้าถึงคราวระทมทน</p>
<p>โอ้ชีวิตหนอล้วนรอความตายทุกคน</p>
<p>หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ</p>
<p>ต่างคนเกิดแล้วตายไป</p>
<p>ชดใช้เวรกรรมจากจร</p>
<p>นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม</p>
<p>ทุกคนเคยทำกรรมไว้ก่อน</p>
<p>เชิญปวงเทวดาข้าไหว้วอน</p>
<p>ขอพรคุ้มไปชีวิตหน้า</p>
<p>ทนทรมานมามากแล้วจะกราบลา</p>
<p>หนีปวงโรคาที่เบียดเบียน</p>
<p>แสงแววชีวาเปรียบแสงเทียน</p>
<p>เปรียบเทียนสิ้นแสงยามแรงลมเป่า</p>
<p>ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน</p>
<p>จุดเทียนถวายหมายบนบูชาร้องเรียน</p>
<p>โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย</p>
<p>โรครุมเร่าร้อนแรงโรย</p>
<p>หวนโหยอาวรณ์อ่อนใจ</p>
<p>ทำบุญทำทานกันไว้เถิดเกิดเป็นคน</p>
<p>ไว้เตรียมผจญชีวิตใหม่</p>
<p>เคยทำบุญทำคุณปางก่อนใด</p>
<p>ขอบุญคุ้มไปชีวิตหน้า</p>
<p>ทนทรมานมามากแล้วจะกราบลา</p>
<p>แสงเทียนบูชาจะดับพลัน</p>
<p>แสงเทียนบูชาดับลับไป</p>

